<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ephemeral - Private Note Sharing</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <!-- THE WRAPPER -->
        <div id="wrapper">
            <!-- THE HEADER -->
            <header>
                <h1>
                    <a href="/">Ephemeral</a>
                </h1>
                <p>private note-sharing service</p>
            </header>
            <!-- END HEADER -->

            <!-- THE MAIN -->
            <main>
                <!-- THE FORM -->
                <form action="/create" method="post" id="form">
                    <h4>Create Note</h4>

                    <!-- THE MESSAGE -->
                    <textarea name="message" id="message" placeholder="Type your note in here..." required></textarea>
                    <!-- END MESSAGE -->

                    <!-- THE OPTIONS -->
                    <section id="options">
                        <p>
                            <b>Note Type</b>
                        </p>

                        <label for="option-onetime" title="The note will expire after it is viewed for the first time.">
                            <input type="radio" name="type" id="option-onetime" value="onetime" checked /> One-time View
                        </label>
                        <label
                            for="option-timebased"
                            title="The note will expire after a certain amount of time you can choose.">
                            <input type="radio" name="type" id="option-timebased" value="timebased" /> Time-based Expiry
                        </label>
                    </section>
                    <!-- END OPTIONS -->

                    <!-- THE EXPIRY DATE FIELD -->
                    <input type="datetime-local" name="expiry" id="expiry" class="hidden" />
                    <!-- END EXPIRY DATE FIELD -->

                    <!-- THE PASSWORD -->
                    <label for="protected">
                        <input type="checkbox" name="protected" id="protected" /> Password Protect?
                    </label>
                    <!-- END PASSWORD -->

                    <!-- THE PASSWORD FIELDS -->
                    <section id="passwords" class="hidden">
                        <input type="password" name="password" id="password" placeholder="Password" class="hidden" />
                        <input
                            type="password"
                            name="confirm-password"
                            id="confirm-password"
                            placeholder="Confirm Password"
                            class="hidden" />
                    </section>
                    <!-- END PASSWORD FIELDS -->

                    <!-- THE SUBMIT -->
                    <button type="submit">Create</button>
                    <!-- END SUBMIT -->
                </form>
                <!-- END FORM -->
            </main>
            <!-- END MAIN -->

            <!-- THE FOOTER -->
            <footer>
                <p>copyright (c) 2025 - <a href="https://shahzad.dev">ahmad shahzad</a></p>
            </footer>
            <!-- END FOOTER -->
        </div>
        <!-- END WRAPPER -->

        <!-- THE MODAL -->
        <div id="modal-background" class="hidden"></div>
        <div id="modal" class="hidden">
            <h3>🎉 Note Created 🎉</h3>
            <a href="#" id="output-link"></a>
            <br />
            <br />
            <button id="copy-link">Copy</button>
            <button id="modal-close" type="reset">Close</button>
        </div>
        <!-- END MODAL -->

        <!-- THE SCRIPT -->
        <script src="/js/crypto.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/formHandler.js"></script>
        <!-- END SCRIPT -->
    </body>
</html>
