<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ephemeral - Private Note Sharing</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <!-- Main Page Wrapper -->
        <div id="wrapper">
            <!-- Header Section -->
            <header>
                <h1>
                    <a href="/">Ephemeral</a>
                </h1>
                <p>Private note-sharing service</p>
            </header>
            <!-- End of Header Section -->

            <!-- Main Content Section -->
            <main>
                <h4>Your Note!</h4>
                {% if note.protected %}
                <p id="note" class="note">Note is encrypted.</p>
                {% else %}
                <p id="note" class="note">{{ note.message }}</p>
                {% endif %}
            </main>
            <!-- End of Main Content Section -->

            <!-- Footer Section -->
            <footer>
                <p>
                    Copyright (c) 2025 -
                    <a href="https://shahzad.dev">ahmad shahzad</a>
                </p>
            </footer>
            <!-- End of Footer Section -->
        </div>
        <!-- End of Main Page Wrapper -->

        {% if note.protected %}
        <!-- Modal Background Overlay -->
        <div id="modal-background" {% if note.protected === false %} class="hidden" {% endif %}></div>
        <!-- Password Modal for Unlocking Note -->
        <div id="modal" {% if note.protected === false %} class="hidden" {% endif %}>
            <h3>🥷 Password 🥷</h3>
            <input type="password" name="password" id="password" placeholder="Password" />
            <input type="hidden" name="iv" id="iv" value="{{ note.iv }}">
            <input type="hidden" name="message" id="message" value="{{ note.message }}">
            <button id="unlock">Unlock</button>
            <button id="modal-close" type="reset">Close</button>
        </div>
        <!-- End of Password Modal -->

        <!-- External Scripts -->
        <script src="/js/crypto.js"></script>
        <script src="/js/noteHandler.js"></script>
        <!-- End of External Scripts -->
        {% endif %}
    </body>
</html>
