@import url('/css/reset.css');
@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css');

#wrapper {
    width: 100%;
    max-width: 450px;
    padding: 25px;
    margin: 0 auto;
}

header,
footer {
    text-align: center;
}

header h1 a {
    text-decoration: none;
    text-transform: lowercase;
}

main form textarea {
    height: 150px;
}
