@import url('/css/reset.css');
@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css');

#wrapper {
    width: 100%;
    max-width: 450px;
    padding: 25px;
    margin: 0 auto;
}

header,
footer {
    text-align: center;
}

header,
main,
footer {
    border: 2px solid #969eaf;
    padding: 25px;
    margin: 25px 0;
    border-radius: 5px;
}

header {
    margin-top: 0;
}

footer,
footer p,
header p {
    margin-bottom: 0;
}

header h1 a {
    text-decoration: none;
    text-transform: lowercase;
}

main form textarea {
    height: 150px;
}

.hidden {
    display: none;
}

h4 {
    text-align: center;
}
